<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoundModBuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SoundModBuilder.Properties.Settings>
      <setting name="WindowLocation" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>1090, 700</value>
      </setting>
      <setting name="GamePath" serializeAs="String">
        <value>D:\Games\Korabli</value>
      </setting>
      <setting name="GameVer" serializeAs="String">
        <value />
      </setting>
      <setting name="WwisePath" serializeAs="String">
        <value>D:\utils\Wwise 2019.2.15.7667\Authoring\x64\Release\bin\WwiseCLI.exe</value>
      </setting>
      <setting name="WwiseProject" serializeAs="String">
        <value>D:\utils\wows_conversion_project19_Only_Windows\conv_19_WIN.wproj</value>
      </setting>
      <setting name="LastProject" serializeAs="String">
        <value />
      </setting>
      <setting name="ColorBackEvtListItemEmpty" serializeAs="String">
        <value>Silver</value>
      </setting>
      <setting name="ColorBackEvtListItem" serializeAs="String">
        <value>LightGreen</value>
      </setting>
      <setting name="DarkTheme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DarkModeBack" serializeAs="String">
        <value>55, 55, 55</value>
      </setting>
      <setting name="DarkModeFore" serializeAs="String">
        <value>89, 254, 18</value>
      </setting>
      <setting name="SplitterAutoSize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseExists" serializeAs="String">
        <value>False</value>
      </setting>
    </SoundModBuilder.Properties.Settings>
    <WindowsFormsApp1.Properties.Settings>
      <setting name="WindowLocation" serializeAs="String">
        <value>20, 30</value>
      </setting>
      <setting name="WindowSize" serializeAs="String">
        <value>700, 800</value>
      </setting>
      <setting name="GamePath" serializeAs="String">
        <value>D:\Program Files\Korabli</value>
      </setting>
      <setting name="GameVer" serializeAs="String">
        <value/>
      </setting>
      <setting name="WwisePath" serializeAs="String">
        <value>D:\utils\Wwise 2019.2.15.7667\Authoring\x64\Release\bin\WwiseCLI.exe</value>
      </setting>
      <setting name="WwiseProject" serializeAs="String">
        <value>D:\utils\wows_conversion_project19_Only_Windows\conv_19_WIN.wproj</value>
      </setting>
      <setting name="LastProject" serializeAs="String">
        <value/>
      </setting>
      <setting name="ColorBackEvtListItemEmpty" serializeAs="String">
        <value>Silver</value>
      </setting>
      <setting name="ColorBackEvtListItem" serializeAs="String">
        <value>LightGreen</value>
      </setting>
    </WindowsFormsApp1.Properties.Settings>
  </userSettings>
</configuration>
